section.banner-sect
  width: 100%
  height: 500px
  background-image: url('../ASSETS/h1_hero.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: 50%
  position: sticky
  // z-index: -4

div.skills-bg-img
  background-image: url('../ASSETS/skills1.jpg')
  width: 100%
  height: 600px
  background-size: cover
  background-repeat: no-repeat
  background-position: 50%

section.skills-sect
  margin-top: 60px

div.pro-skills
  background-color: $brand-light
  padding: 10% 5% 0 5%
section.number-sect
  background-color: darken($brand-primary, 15%)
  padding: 70px
  color: lighten(#fff, 10%)

@media screen and (max-width: 680px)
  section.number-sect
    padding: 0

section.work-sect
  background-color: $brand-light

section.work_process-sect
  // background-color: $brand-light

section.yorum
  background-color: $brand-main
  padding: 60px


section.services
  text-align: center
  margin-top: 5rem
  padding: 60px
  background-color: lighten($brand-light, .5%)
